a:link {
	color: white;
	text-decoration: none;
}

a:visited {
	color: white;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

body { 
	width: 100%;
	height: 100%;
	background-color: #2C3A39;
	font-family: "Tahoma", "Helvetica", sans-serif;
	margin: 0;
	padding: 0;
}

h3 {
	margin: 0;
	padding: 0 0 10px 10px;
	font-family: "Segoe UI", sans-serif;
	font-size: 18pt;
}

li {
	margin: 0;
	padding: 0;
	font-size: 1.05em;
}

p {
	text-align: center;
	color: #cccccc;
	font-size: 0.95em;
}

ul {
	list-style-type: none;
	color: white;
}

ul ul {

	list-style-type: square;
}
<br>
ul ul li {
	margin: 7px 20px 7px 0;
}

#CenterPage {
	display: block;
	width: 1100px;
	margin: 0 auto;
}

#mainText {
	font-family: "Segoe UI", sans-serif;
	margin: 0;
	padding: 0;

	text-align: center;
}

#mainText h2 {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 27pt;
	font-style: italic;
	text-shadow: 2px 0 7px #003c77;
}

#mainText h5 {
	margin: 0;
	padding: 0;
	font-size: 18pt;
	font-style: italic;
	color: white;
	text-shadow: 2px 0 7px #003c77;
}

#myLogo {
	display: block;
	margin: 0 auto;
	padding: 25px 0 0 0;
}

#newsContent {
	width: 730px;
	height: 230px;
	margin: 0 auto;
	padding: 0;
	overflow-y: auto;
	background-color: #212c2b;
}
