body {
  background-color: #879288;
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 13pt;
}

#CenterPage {
  max-width: 1295px;
  min-width: 1295px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  box-shadow: 0px 0px 25px 12px rgba(0,0,0,0.7);
}

#mainContent {
	margin: 0;
	padding: 205px 25px 25px 25px;
	height: 500px;
	width: 1245px;
	font-size: 13pt;
}
/* PLACE ALL UNIQUE CSS BELOW */

#picture {
	float: left;
	margin: 0 0 0 240px;
}

#contactInfo {
	float: right;
	width: 375px;
	margin: 125px 240px 0 0;
	text-align: center;
}

#contactInfo p a {
	font-size: 1.09em;
}

#contactInfo a:link {
	color: black;
}

#contactInfo a:visited {
	color: black;
}

#contactInfo a:hover {
	color: black;
}

#contactInfo h1 {
	text-align: center;
}

#contactInfo h2 {
	margin: 0;
	padding: 0;
	text-align: center;
}

#linkedInLogo {
	margin: 0 4px 15px 10px;
	width: 140px;
}

#twitterLogo {
	margin: 0 0 0px 20px;
	width: 75px;
}

.twitterLink {
	float: right;
	margin: 20px 10px 0 0;
}
