body {
  background-color: #435058;
  width: 100%;
  height: 100%;
  font-family: "Helvetica", "Tahoma", sans-serif;
  margin: 0;
  padding: 0;
}

#CenterPage {
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

#PageWrapper {
	background-color: white;
}

#mainContent {
	margin: 0;
	padding: 25px;
	min-height: 500px;
	font-size: 1.09em;
}
/* PLACE ALL UNIQUE CSS BELOW */
#contactWrapper {
	display: block;
	max-width: 750px;
	margin: 0 auto;
}

#picture {
	float: left;
	
}

#contactInfo {
	float: right;
	margin: 125px 0 0 0;
	max-width: 375px;
	text-align: center;
}

#contactInfo p a {
	font-size: 1.09em;
}

#contactInfo a:link {
	color: black;
}

#contactInfo a:visited {
	color: black;
}

#contactInfo a:hover {
	color: black;
}

#contactInfo h1 {
	text-align: center;
}

#contactInfo h2 {
	margin: 0;
	padding: 0;
	text-align: center;
}

#linkedInLogo {
	margin: 0 4px 15px 10px;
	width: 140px;
}

#twitterLogo {
	margin: 0 0 0px 20px;
	width: 75px;
}

.twitterLink {
	float: right;
	margin: 20px 10px 0 0;
}

@media screen and (max-width:900px) {
#mainContent {
	min-height: 300px;
}

#contactWrapper {
	display: block;
	max-width: 610px;
	margin: 0 auto;
}

#picture img{
	float: left;
	height: 300px;
	
}

#contactInfo {
	float: right;
	margin: 50px 0 0 0;
	max-width: 375px;
	text-align: center;
}
}

@media screen and (max-width:670px) {
#mainContent {
	min-height: 225px;
}

#picture img{
	display: none;
	
}

#contactInfo {	
	display: block;
	float: none;
	margin: 0 auto;
	max-width: 375px;
	text-align: center;
}
}
