body {
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', 'Tahoma', sans-serif;
}

#menucontainer a {
	display: block;
	padding: 7px 2px 7px 7px;
	text-decoration: none;
}

#menucontainer a:link {
	color: #003c77;
}

#menucontainer a:visited {
	color: #003c77;
}

#menucontainer a:hover {
	color: white;
	background-color: #003c77;
}

#cityName a {
	position: relative;
	top: -19px;
	display: block;
	padding: 7px 2px 7px 7px;
	text-decoration: none;
}

#cityName a:link {
	color: white;
}

#cityName a:visited {
	color: white;
}

#cityName a:hover {
	color: white;
}

#menucontainer ul {
	list-style-position: inside;
	list-style-type: none;
	margin: 10px 0 0 0;	
	padding: 0;
}

#menucontainer ul li p {
	margin: 0;
	padding: 7px 2px 7px 7px;
	color: #003c77;
}

.beforeSelect {
	display: none;
}

.sublinkHeader {
	text-align: center;
	font-size: 90%;
}

#pageHeader {
	position: absolute;
	left: 293px;
	top: 0px;
	right: 0px;
	height: 36px;
	margin: 0;
	padding: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003b9b+0,00467f+49,003977+50,003c77+100 */
	background: #003c77; /* Old browsers */
	background: -moz-linear-gradient(top, #003b9b 0%, #00467f 49%, #003977 50%, #003c77 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #003b9b 0%,#00467f 49%,#003977 50%,#003c77 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #003b9b 0%,#00467f 49%,#003977 50%,#003c77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-bottom: 1px black solid;
	color: white;
	overflow: hidden;
	font-size: 12pt;
}

#iframeContainer {
	position: absolute;
	top: 37px;
	right: 0px;
	bottom: 0px;
	left: 257px;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#iframeContainer iframe {
	height: 100%;
	width: 100%;
	border: none;
}

#cityName {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 219px;
	height: 36px;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003b9b+0,00467f+49,003977+50,003c77+100 */
	background: #003c77; /* Old browsers */
	background: -moz-linear-gradient(top, #003b9b 0%, #00467f 49%, #003977 50%, #003c77 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #003b9b 0%,#00467f 49%,#003977 50%,#003c77 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #003b9b 0%,#00467f 49%,#003977 50%,#003c77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-bottom: 1px black solid;
	margin: 0;
	padding: 0;
	text-align: center;
	color: white;
}

#menucontainer {
	position: absolute;
	top: 73px;
	left: 0px;
	bottom: 36px;
	width: 256px;
	background-color: white;
	border-right: 1px black solid;
	overflow: auto;
}

#selectorContainer {
	position: absolute;
	top: 37px;
	left: 0px;
	height: 36px;
	width: 219px;
	background-color: gray;
	z-index: 1;
}

#linksSelector {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #F4F4F4;
	border-style: none;
	text-align: center;
	font-size: 11pt;
	cursor: pointer;
}

#linksSelector option {
	padding: 10px 14px;
	font-size: 12pt;
}

#initialNotice p {
	margin: 20px 12px 0px 12px;
	text-align: justify;
}

#footerDiv {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 36px;
	width: 256px;
	margin: 0;
	padding: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#003b9b+0,00467f+49,003977+50,003c77+100 */
	background: #003c77; /* Old browsers */
	background: -moz-linear-gradient(top, #003b9b 0%, #00467f 49%, #003977 50%, #003c77 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #003b9b 0%,#00467f 49%,#003977 50%,#003c77 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #003b9b 0%,#00467f 49%,#003977 50%,#003c77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	border-right: 1px black solid;
	border-top: 1px black solid;
}

#wxchallengeLogo {
	width: 64px;
	height: 100%;
	background-color: #F4F4F4;
}

#wxchallengeLogo img {
	position: relative;
	top: 3px;
	left: 3px;
	height: 30px;
	margin: 0;
	padding: 0;
}

#footerLinks {
	position: absolute;
	left: 64px;
	bottom: 0px;
	height: 36px;
	width: 192px;
}

#footerLinks ul {
	list-style-position: inside;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#footerLinks a {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: white;
	font-size: 82%;
}

#footerLinks a:link {
	color: white;
}

#footerLinks a:visited {
	color: white;
}

#footerLinks a:hover {
	color: white;
}

#link1 {
	position: absolute;
	top: 11px;
	left: 12px;
}

#link2 {
	position: absolute;
	top: 11px;
	left: 67px;
}

#link3 {
	position: absolute;
	right: 12px;
	top: 11px;
	float: right;
}

#currentIcon {
	position: absolute;
	top: 0px;
	left: 219px;
	height: 72px;
	width: 72px;
	background-color: #003c77;
	border-right: 1px black solid;
	border-bottom: 1px black solid;
	border-left: 1px black solid;
	z-index: 1;
}

#currentIcon img {
	height: 72px;
	width: 72px;
	margin: 0;
	padding: 0;
}

#wxName {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 160px;
	height: 36px;
	background-color:;
	font-size: 13pt;
}

#wxName p {
	position: relative;
	top: -9px;
	left: 5px;
	float: left;
	cursor: default;
}
#currentTemp {
	position: absolute;
	top: 0px;
	left: 161px;
	width: 74px;
	height: 36px;
	background-color:;
}

#currentTemp img {
	position: relative;
	top: 3px;
	float: left;
	height: 30px;
	margin: 0;
	padding: 0;
}

#currentTemp p {
	position: relative;
	top: -7px;
	float: left;
	cursor: default;
}
#currentDew {
	position: absolute;
	top: 0px;
	left: 235px;
	width: 75px;
	height: 36px;
	background-color:;
}

#currentDew img {
	position: relative;
	top: 3px;
	float: left;
	height: 30px;
	margin: 0;
	padding: 0;
}

#currentDew p {
	position: relative;
	top: -7px;
	float: left;
	cursor: default;
}
#currentWind {
	position: absolute;
	top: 0px;
	left: 310px;
	width: 160px;
	height: 36px;
	background-color:;
}

#currentWind img {
	position: relative;
	top: 3px;
	left: 7px;
	float: left;
	height: 30px;
	margin: 0;
	padding: 0;
}

#currentWind p {
	position: relative;
	top: -7px;
	left: 12px;
	float: left;
	cursor: default;
	top: -8px;
	left: 15px;
}
#innerGustDiv {
	position: absolute;
	top: 0px;
	left: 470px;
	background-color:;
}

#innerGustDiv p {
	position: relative;
	top: -7px;
	left: 3px;
}

#innerPressureDiv {
	position: absolute;
	top: 0px;
	width: 135px;
	height: 36px;
	background-color:;
}

#innerPressureDiv img {
	position: relative;
	top: 3px;
	left: 7px;
	float: left;
	height: 30px;
	margin: 0;
	padding: 0;
}

#innerPressureDiv p {
	position: relative;
	top: -7px;
	left: 12px;
	float: left;
	cursor: default;
}

