body { 
	width: 100%;
	height: 100%;
	background-color: #879288;
	font-family: "Tahoma", "Helvetica", sans-serif;
	margin: 0;
	padding: 0;
}

li {
	margin: 0;
	padding: 0;
	font-size: 1.05em;
}

p {
	text-align: center;
	color: #cccccc;
	font-size: 0.9em;
}

ul {
	list-style-type: none;
	color: white;
}

ul ul {

	list-style-type: square;
}

ul ul li {
	margin: 7px 20px 7px 0;
}

#mainText {
	margin: 0;
	padding: 0;
	min-width: 1000px;
	text-align: center;
}

#mainText h2 {
	margin: 20px 0 10px 0;
	padding: 0;
	color: white;
	font-size: 26pt;
	text-shadow: 2px 0 7px #003c77;
}

#myLogo {
	width: 175px;
	margin: 10px;
}

#newsContent {
	width: 730px;
	height: 260px;
	margin: 0 auto;
	padding: 0;
	overflow: auto;
	background-color: #212c2b;
}

#newsHeader {
	width: 750px;
	height: 200px;
	margin: 0 auto;
	padding: 0;
}

#newsHeader h1 {
	float: right;
	margin: 80px 28px 0px 0;
	color: #F4F4F4;
	font-size: 1.85em;
}

#newsHeader hr {
	position: relative;
	top: -85px;
	left: 114px;
	width: 500px;
	color: #0F0F0F;
}
