.menulink {
	padding: 50px  25px;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #0086B3;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  transition: 0.3s;
  font-size: 1.2em;
  font-weight: bold;
}

ul.topnav li a:hover {background-color: #006080;}
#textlogo {
	margin: 0;
	padding: 4px 13px;
	height: 110px;
}

#logo {
	display:none;
}
ul.topnav li.icon {display: none;}

@media screen and (max-width:1150px) {

.menulink {
	padding: 25px  10px;
}

ul.topnav li:not(:first-child) {
	display: none;
}

ul.topnav li.icon {
	float: right;
	display: block;
	height: 25px;
}

ul.topnav li a img.hamburger {
	padding: 25px;
}

ul.topnav.responsive {
	position: relative;
}

ul.topnav.responsive li.icon {
	display: block;
	position: absolute;
	height: 25px;
	right: 0;
	top: 0;
}

ul.topnav.responsive li {
	float: none;
	display: inline;
}

ul.topnav.responsive li a {
	display: block;
	text-align: left;
	transition: 0s;

}

ul.topnav.responsive li a img.hamburger{
	padding: 25px;
}

#textlogo {
	display: none;
}
#logo {
	display: block;
	height: 75px;
}

}/*End of the media query*/

@media screen and (max-width:500px) {
#logo {
	display: block;
	height: 40px;
}

ul.topnav li a img.hamburger {
	padding: 8px;
}
ul.topnav.responsive li a img.hamburger{
	padding: 8px;
}
.menulink {
	padding: 15px  10px;
}

ul.topnav li a {
	font-size: 0.9em;
	transition: 0s;
}

}
