.widerLinkHeader {
	width: 305px;
}

#logoWrapper {
	position: relative;
	width: 1295px;
	height: 250px;
}

#logoBackground {
	position: absolute;
}

#logoBackground img {
	margin: 0;
	padding: 0;
}

#logo {
	position: absolute;
	top: 10px;
	left: 30px;
}

#logo img {
	
	width: 230px;
}

nav {
	margin: 0 auto;
	min-width: 1295px;
	max-width: 1295px;
	background-color: #0F0F0F;
}

nav:after {
	content:"";
	display: table;
	clear: both;
}

/* Changes the location of the links within the menu bar (i.e., text-align changes location) */
nav ul {
	list-style-type: none;
	position: relative;
	text-align: center;
	margin: 0;
	padding: 0;
	z-index: 10;
	cursor: default;
}

/* Changes all main menu links that do not have an "a" associated with them (i.e., all non-clickable links) */
nav ul li {
	display: block;
	position: relative;
	float: left;
	width: 198px;
	margin: 0;
	padding: 0;
	font-family: "Tahoma", sans-serif;
	color: white;
	cursor: default;
	background-color: #0F0F0F;
	font-size: 95%;
}

/* Changes the main link color on hover and the area behind the main link on hover */
nav ul li:hover {
	background-color: #D5D5D5;
	color: black;
}

/* Headers within dropdowns */
nav ul span li {
	background-color: #0F0F0F;
	padding: 5px 0 2px 0;
	font-size: 82%;
}

nav ul span li:hover {
	background-color: #D5D5D5;
	color: black;
}

/* */
nav ul ul {
	display: none;
	position: absolute;
	margin: 0 auto 0 auto;
	padding: 0;
	top: 100%;
	left: 0;
	right: 0;
}

nav ul ul li {
	float: none;
	min-width: 180px;
	color: white;
	padding:0;
	font-size: 13pt;
}

/* Changes the area behind the drop down links and is responsible for displaying the drop down on hover */
nav ul li:hover > ul {
	display: block;
}

/* Changes all links with the "a" tag */
nav a {
	display: block;
	padding: 7px 0;
}

/* Changes the text in the drop downs */
nav ul a {
	display: block;
	text-align: center;
}

nav ul li ul li a {
	padding: 20px 0;
}

nav a:link {
	color: white;
	text-decoration: none;
	font-family: "Tahoma", sans-serif;
}

nav a:visited {
	color: white;
	font-family: "Tahoma", sans-serif;
}

nav a:hover {
	color: black;
	font-family: "Tahoma", sans-serif;
	background-color: #D5D5D5;
}

#NorthCarolina {
	width: 275px;
	margin: 0 auto;
	padding: 5px 0;
}

#SouthCarolina {
	width: 200px;
	margin: 0 auto;
	padding: 5px 0;
}

#wxchallengeLogo {
	background-color: #D5D5D5;
	border-bottom: 1px black solid;
}
