.header {
	width: 1295px;
    	height: 180px;
    	position: fixed;
    	top: 0;
    	transition: height 500ms, background 500ms;
	background-color: #0086B3;
}

.header.smallHeader {
	height: 77px;
    	position: fixed;
	background-color: #006080;
}

.logo {
	transition: width 330ms;
	transition-timing-function: linear;
	padding: 7px;
	width: 250px;
 }

.logoAfter {
	width: 125px;
	padding: 7px;
}

.menuWidthBefore {
	float: right;
	width: 173px;
	background-color: #0086B3;
	transition: width 500ms, background 500ms;
	color: white;
	margin: 0;
	padding: 0;
}

.menuWidthAfter {
	float: right;
	width: 194px;
	background-color: #006080;
    	transition: width 500ms, background 500ms;
	color: white;
}

.linkHeightBefore {
	padding: 16px 0;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}

.linkHeightAfter {
	padding: 29px 0;
	border-radius: 0px;
}

#logoImg {
	float: left;
	width: 100%;
	z-index: 500;
}

#headerWrapper {
	z-index: 100;
}

#horizontalnav {
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0;
	padding: 0;
	background-color: green;	
}

/* Removes the underline from all links in the nav bar and sets the link color to white */
#horizontalnav a {
	display: block;
	text-align: center;
}

#horizontalnav a:link {
	text-decoration: none;
	color: white;
}

#horizontalnav a:hover {
	text-decoration: underline;
	background-color: white;
	color: black;
}

#horizontalnav a:visited {
	text-decoration: none;
	color: white;
}

#horizontalnav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#textLogo {
	float: right;
	display: block;
	width: 350px;
	margin: 0;
	padding: 10px;
}
