/* Possible footer background color: 435058 */
/* Possible background color: #40798C or #40718C */
body {
  background-color: #435058;
  width: 100%;
  height: 100%;
  font-family: "Helvetica", "Tahoma", sans-serif;
  margin: 0;
  padding: 0;
}

#CenterPage {
  max-width: 1700px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

#PageWrapper {
	background-color: white;
}

#mainContent {
	margin: 0;
	padding: 25px;
	min-height: 500px;
	font-size: 1.09em;
}

/* PLACE ALL UNIQUE CSS BELOW */
p {
	margin: 0 0 25px 0;
	padding:0;
}
.tableImg {
	display: block;
	width: ;
}

.tableTxt {
	width: 650px;
}

.tableInput {
	width: 260px;
}

.tableInstruction {
	display: block;
	width: 200px;
}

#comprehensiveWrapper a:link {
	color: #0086B3;
	text-decoration: none;
}

#comprehensiveWrapper a:visited {
	color: #0086B3;
	text-decoration: none;
}

#comprehensiveWrapper a:hover {
	color: #0086B3;
	text-decoration: underline;
}

#comprehensiveWrapper button {
	background-color: #0086B3;
	padding: 5px 8px;
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	cursor: pointer;
}

#comprehensiveWrapper button:hover {
	-webkit-filter: brightness(125%);
	filter: brightness(125%);
}

#comprehensiveWrapper img {
	width: 375px;
	margin: 10px;
	padding: 0;
	box-shadow: 5px 5px 10px black;
}

#comprehensiveWrapper a img:hover {
	box-shadow: 10px 10px 20px black;
}

#comprehensiveWrapper table {
	border-collapse: collapse;
	text-align: center;
	margin: 0 auto;
	box-shadow: 5px 5px 20px black;
}

#compreshensiveWrapper table th {
	text-align: center;
}

#comprehensiveWrapper table tr {

}

#links {
	display: block;
	text-align: center;
}

@media screen and (max-width:1150px) {
#links {
	display: none;;
}

.tableImg {
	display: none;
}

.tableInstruction1 {
	display: none;
}

.tableInstruction {
	display: none;
}
#comprehensiveWrapper table {
	border: none;

}


}
#UNCAlogo {
	position: relative;
	top: -82px;
	left: -200px;
	width: 300px;
}

#UNCAatms {
	position: relative;
	top: -12px;
	left: -25px;
	width: 200px;
}

#WxChallengeLogo {
	position: relative;
	top: -16px;
	left: 200px;
	width: 200px;
}
