/* Possible footer background color: 435058 */

body {
  background-color: #D5D5D5;
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

#CenterPage {
  max-width: 1295px;
  min-width: 1295px;

  margin: 0 auto;
  padding: 0;
  background-color: white;
  border-width: 1px;
  border-style: solid;
}

/* PLACE ALL UNIQUE CSS BELOW */

h2 {
	position: relative;
	left: 25px;
}

#containerDiv {
	min-height: 300px;
}

#alertDiv {
	float: left;
	position: relative;
	top: 25px;
	left: 25px;
	width: 945px;
	margin: 0;
	padding: 0;
	font-size: 13pt;
}

#alertDiv p {
	margin: 0;
	padding: 0;
}

#socialMedia {
	float: right;
	position: relative;
	width: 300px;
	height: 130px;
	top: 25px;
	right: 25px;
	margin: 0;
	padding: 0 0 10px 0;
	text-align: center;
}

#socialMedia h3 {
	margin: 0;
	padding: 0;
}

#socialMedia img {
	margin: 0;
	padding: 0;
}

#twitterLogo {
	position: relative;
	top: 5px;
	left: -8px;
	width: 100px;
}

#linkedInLogo {
	position: relative;
	top: -15px;
	left: 2px;
	width: 70px;
}



#mainContent {
	position: relative;
	left: 25px;
	width: 1245px;
	font-size: 13pt;
}


/****************************************/
/* CSS for the Asheville 2-day Forecast */
/****************************************/

#AshevilleFcst {
	width: 1245px;
	border: 1px black solid;

}

#AshevilleFcst h3 {
	margin: 0;
	padding: 5px 0 5px 5px;
	background-color: #435458;
	color: white;
	border-bottom: 1px black solid;
}

#AshevilleFcst h4 {
	
	height: 30px;
	margin: 0;
	padding: 0;
	font-size: 15pt;
}

#AshevilleFcst img {
	float: left;
	height: 150px;
	margin: 8px 0 0 0;
	padding: 0;
	background-color: #87CEEB;
	border-radius: 10px;
}

#AVLday1 {
	position: relative;
	top: 13px;
	margin: 0 0 0 10px;
	padding: 0;
	height: 220px;
}


#AVLminMaxDay1 {
	float: left;
	height: 150px;
	width: 140px;
	margin: 8px 0 0 20px;
	padding: 0;
}

#AVLmaxDay1 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#AVLminDay1 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#AVLdiscDay1 {
	margin: 8px 0 0 320px;
	padding: 0;
	width: 905px;
	height: 150px;
}

#AVLdiscDay1 p {
	margin: 0;
	padding: 0;
	font-size: 14pt;
}

#AVLday2 {
	margin: 0;
	padding: 13px 0 0 10px;
	height: 205px;
	border-top: double;
}

#AVLminMaxDay2 {
	float: left;
	height: 150px;
	width: 140px;
	margin: 8px 0 0 20px;
	padding: 0;
}

#AVLmaxDay2 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#AVLminDay2 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#AVLdiscDay2 {
	margin: 8px 0 0 320px;
	padding: 0;
	width: 905px;
	height: 150px;
}

#AVLdiscDay2 p {
	margin: 0;
	padding: 0;
	font-size: 14pt;
}

/****************************************/
/* CSS for the Charlotte 2-day Forecast */
/****************************************/

#CharlotteFcst {
	width: 1245px;
	border: 1px black solid;

}

#CharlotteFcst h3 {
	margin: 0;
	padding: 5px 0 5px 5px;
	background-color: #435458;
	color: white;
	border-bottom: 1px black solid;
}

#CharlotteFcst h4 {
	
	height: 30px;
	margin: 0;
	padding: 0;
	font-size: 15pt;
}

#CharlotteFcst img {
	float: left;
	height: 150px;
	margin: 8px 0 0 0;
	padding: 0;
	background-color: #87CEEB;
	border-radius: 10px;
}

#CLTday1 {
	position: relative;
	top: 13px;
	margin: 0 0 0 10px;
	padding: 0;
	height: 220px;
}


#CLTminMaxDay1 {
	float: left;
	height: 150px;
	width: 140px;
	margin: 8px 0 0 20px;
	padding: 0;
}

#CLTmaxDay1 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#CLTminDay1 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#CLTdiscDay1 {
	margin: 8px 0 0 320px;
	padding: 0;
	width: 905px;
	height: 150px;
}

#CLTdiscDay1 p {
	margin: 0;
	padding: 0;
	font-size: 14pt;
}

#CLTday2 {
	margin: 0;
	padding: 13px 0 0 10px;
	height: 205px;
	border-top: double;
}

#CLTminMaxDay2 {
	float: left;
	height: 150px;
	width: 140px;
	margin: 8px 0 0 20px;
	padding: 0;
}

#CLTmaxDay2 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#CLTminDay2 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#CLTdiscDay2 {
	margin: 8px 0 0 320px;
	padding: 0;
	width: 905px;
	height: 150px;
}

#CLTdiscDay2 p {
	margin: 0;
	padding: 0;
	font-size: 14pt;
}

/****************************************/
/* CSS for the Hickory 2-day Forecast */
/****************************************/

#HickoryFcst {
	width: 1245px;
	border: 1px black solid;

}

#HickoryFcst h3 {
	margin: 0;
	padding: 5px 0 5px 5px;
	background-color: #435458;
	color: white;
	border-bottom: 1px black solid;
}

#HickoryFcst h4 {
	
	height: 30px;
	margin: 0;
	padding: 0;
	font-size: 15pt;
}

#HickoryFcst img {
	float: left;
	height: 150px;
	margin: 8px 0 0 0;
	padding: 0;
	background-color: #87CEEB;
	border-radius: 10px;
}

#HKYday1 {
	position: relative;
	top: 13px;
	margin: 0 0 0 10px;
	padding: 0;
	height: 220px;
}


#HKYminMaxDay1 {
	float: left;
	height: 150px;
	width: 140px;
	margin: 8px 0 0 20px;
	padding: 0;
}

#HKYmaxDay1 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#HKYminDay1 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#HKYdiscDay1 {
	margin: 8px 0 0 320px;
	padding: 0;
	width: 905px;
	height: 150px;
}

#HKYdiscDay1 p {
	margin: 0;
	padding: 0;
	font-size: 14pt;
}

#HKYday2 {
	margin: 0;
	padding: 13px 0 0 10px;
	height: 205px;
	border-top: double;
}

#HKYminMaxDay2 {
	float: left;
	height: 150px;
	width: 140px;
	margin: 8px 0 0 20px;
	padding: 0;
}

#HKYmaxDay2 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#HKYminDay2 {
	font-size: 18pt;
	margin: 30px 0 10px 5px;
	padding: 0;
}

#HKYdiscDay2 {
	margin: 8px 0 0 320px;
	padding: 0;
	width: 905px;
	height: 150px;
}

#HKYdiscDay2 p {
	margin: 0;
	padding: 0;
	font-size: 14pt;
}

/* End of Forecast Div CSS */


#links {
	text-align: center;
}

#links h2 {
	float: left;
	position: relative;
	top: 65px;
}

#UNCAlogo {
	position: relative;
	top: -73px;
	left: -125px;
	width: 300px;
}

#UNCAatms {
	position: relative;
	top: -3px;
	left: 0px;
	width: 200px;
}

#WxChallengeLogo {
	position: relative;
	top: -1px;
	left: 125px;
	width: 200px;
}
