.onLinkHover {
	border-radius: 20px;
	background: #D5D5D5;
	background: -webkit-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: -o-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: radial-gradient(rgba(0,0,0,1), rgba(213,213,213,0));
	-webkit-filter: brightness(300%);
	filter: brightness(300%);
}

body {
  background-color: #435058;
  width: 100%;
  height: 100%;
  font-family: "Helvetica", "Tahoma", sans-serif;
  margin: 0;
  padding: 0;
}

#CenterPage {
  min-width: 1195px;
  max-width: 1195px;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

#PageWrapper {
	background-color: white;
}

#mainContent {
	margin: 0;
	padding: 25px;
	min-height: 500px;
	font-size: 1.09em;
}

/* PLACE ALL UNIQUE CSS BELOW */

#USmap h4 {
	margin: 0;
	padding: 0;
	text-align: center;
}

#buttonsHorizontal a:link {
	margin: 0;
	color: white;
	text-decoration: none;
}

#buttonsHorizontal a:visited {
	color: white;
	text-decoration: none;
}

#buttonsHorizontal a:hover {
	color: white;
	text-decoration: underline;
	background-color: #0099cc;
}

#USmapsvg {
	display: block;
	width: 1140px;
	margin: 0 auto;
	padding: 0;
}

/* Allows all stars to have absolute positioning */
#stationLocations {
	position: relative;
}

#stationLocations div:hover{
	border-radius: 15px;
	background: #D5D5D5;
	background: -webkit-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: -o-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: radial-gradient(rgba(0,0,0,1), rgba(213,213,213,0));
	-webkit-filter: brightness(300%);
	filter: brightness(300%);
}

/* For current location subtract 1 from top and 18 from left */

#KEYWstar {
	position: absolute;
	top: 720px;
	left: 920px;
	margin: 0;
	padding: 0;
	-webkit-filter: brightness(40%);
	filter: brightness(40%);
}



#KMDTstar {
	position: absolute;
	top: 277px;
	left: 950px;
	margin: 0;
	padding: 0;
	-webkit-filter: brightness(40%);
	filter: brightness(40%);
}

#KGRIstar {
	position: absolute;
	top: 295px;
	left: 510px;
	margin: 0;
	padding: 0;
	-webkit-filter: brightness(40%);
	filter: brightness(40%);
}

#KRNOstar {
	position: absolute;
	top: 280px;
	left: 63px;
	margin: 0;
	padding: 0;
	-webkit-filter: brightness(40%);
	filter: brightness(40%);
}

#KTVCstar {
	position: absolute;
	top: 180px;
	left: 755px;
	margin: 0;
	padding: 0;
	-webkit-filter: brightness(40%);
	filter: brightness(40%);
}

#KSEAstar {
	position: absolute;
	top: 44px;
	left: 62px;
	margin: 0;
	padding: 0;
	-webkit-filter: brightness(40%);
	filter: brightness(40%);
}

#KJANstar {
	position: absolute;
	top: 538px;
	left: 693px;
	margin: 0;
	padding: 0;
	-webkit-filter: brightness(40%);
	filter: brightness(40%);
}

#mobileTable {
	display: none;
}

#mobileTable table {
	width: 353px;
	display: block;
	margin: 0 auto;
	border-collapse: collapse;
}

#mobileTable table tr {
	text-align: center;
	line-height: 40px;
}

#mobileTable table tr span {
	display: block;
	width: 175px;
}

#mobileTable table tr a {
	display: block;
	font-weight: bold;
}

#mobileTable a {
	font-size: 1.09em;
}

#mobileTable a:link {
	color: black;
	text-decoration: none;
}

#mobileTable a:visited {
	color: black;
	text-decoration: none;
}

#mobileTable a:hover {
	color: black;
	text-decoration: underline;
}

#mobileTable tr:nth-child(even) {background-color: lightgray;}

#mobileTable tr:nth-child(odd) {background-color: white;}

#textLinks table {
	border: 1px black solid;
	border-collapse: collapse;
}

#textLinks table tr {
	text-align: center;
}

#textLinks table tr span {
	display: block;
	width: 107px;
}

#textLinks table tr a {
	display: block;
	width: 187px;
	font-weight: bold;
}

#textLinks col:nth-child(even) {background-color: lightgray;}
#textLinks col:nth-child(odd) {background-color: white;}

#textLinks {
	margin: 0;
	padding: 0;
	position: relative;
	left: -50px;
}

#textLinks a {
	font-size: 1.09em;
}

#textLinks a:link {
	color: black;
	text-decoration: none;
}

#textLinks a:visited {
	color: black;
	text-decoration: none;
}

#textLinks a:hover {
	color: black;
	text-decoration: underline;
}

#textLinks h3 {
	margin: 5px 0;
	padding: 0;
}

@media screen and (max-width:1195px) {
#CenterPage {
  min-width: 1px;
  max-width: 1195px;
  height: 100%;

}
#USmap {
	display: none;
}

#textLinks {
	display: none;
}

#mobileTable {
	display: block;
}

}
