.onLinkHover {
	border-radius: 20px;
	background: #D5D5D5;
	background: -webkit-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: -o-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: radial-gradient(rgba(0,0,0,1), rgba(213,213,213,0));
	-webkit-filter: brightness(300%);
	filter: brightness(300%);
}

body {
  	background-color: #879288;
 	font-family: "Helvetica", sans-serif;
 	margin: 0;
	padding: 0;
}

.mainContentButton {
	padding: 12px 10px;
	text-align: center;
	background-color: #0086B3;
	border-radius: 10px;
}

#CenterPage {
  	max-width: 1295px;
  	min-width: 1295px;
  	margin: 0 auto;
  	padding: 0;
  	background-color: white;
  	box-shadow: 0px 0px 40px 12px rgba(0,0,0,0.7);
}

#mainContent {
	margin: 0;
	padding: 175px 25px 25px 25px;
	width: 1245px;
	font-size: 1.09em;
}

/* PLACE ALL UNIQUE CSS BELOW */

#USmap h4 {
	margin: 60px 0 0 0;
	padding: 0;
	text-align: center;
}

#buttonsHorizontal a:link {
	margin: 0;
	color: white;
	text-decoration: none;
}

#buttonsHorizontal a:visited {
	color: white;
	text-decoration: none;
}

#buttonsHorizontal a:hover {
	color: white;
	text-decoration: underline;
	background-color: #0099cc;
}

#USmapsvg {
	display: block;
	width: 1140px;
	margin: 0 auto;
	padding: 0;
}

/* Allows all stars to have absolute positioning */
#stationLocations {
	position: relative;
}

#stationLocations div:hover{
	border-radius: 15px;
	background: #D5D5D5;
	background: -webkit-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: -o-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: radial-gradient(rgba(0,0,0,1), rgba(213,213,213,0));
	-webkit-filter: brightness(300%);
	filter: brightness(300%);
}

#KEYWstar {
	position: absolute;
	top: 780px;
	left: 920px;
	margin: 0;
	padding: 0;
}



#KMDTstar {
	position: absolute;
	top: 337px;
	left: 950px;
	margin: 0;
	padding: 0;
}

#KGRIstar {
	position: absolute;
	top: 355px;
	left: 510px;
	margin: 0;
	padding: 0;
}

#KRNOstar {
	position: absolute;
	top: 340px;
	left: 63px;
	margin: 0;
	padding: 0;
}

#KSAWstar {
	position: absolute;
	top: 202px;
	left: 721px;
	margin: 0;
	padding: 0;
}

#KSEAstar {
	position: absolute;

	top: 105px;
	left: 80px;
	margin: 0;
	padding: 0;
}

#legend {
	float: right;
	width: 100px;
	margin: 130px 0 0 0;
	padding: 0;
	border: 1px black solid;
	border-radius: 10px;
}

#legend h3 {
	margin: 0;
	padding: 5px 0 5px 0;
	background-color: #0086B3;
	color: white;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	text-align: center;
}

#legend img {
	display: block;
	margin: 3px auto;
}

#legend p {
	display: block;
	margin: 0 0 10px 0;
	text-align: center;
	font-size: 1.0em;
}

col:nth-child(2n+3) {background: #D9D9D9}

table {
	border: 1px black solid;
	border-collapse: collapse;
}

table tr {
	text-align: center;
}

table tr span {
	display: block;
	width: 107px;
}

table tr a {
	display: block;
	width: 187px;
	font-weight: bold;
}

col:nth-child(even) {background-color: lightgray;}
col:nth-child(odd) {background-color: white;}

#textLinks {
	margin: 0;
	padding: 0;
}

#textLinks a {
	font-size: 1.09em;
}

#textLinks a:link {
	color: black;
	text-decoration: none;
}

#textLinks a:visited {
	color: black;
	text-decoration: none;
}

#textLinks a:hover {
	color: black;
	text-decoration: underline;
}

#textLinks h3 {
	margin: 5px 0;
	padding: 0;
}
