.onLinkHover {
	border-radius: 50px;
	background: #D5D5D5;
	background: -webkit-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: -o-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: radial-gradient(rgba(0,0,0,1), rgba(213,213,213,0));
	-webkit-filter: brightness(300%);
	filter: brightness(300%);
}

body {
  background-color: #879288;
  font-family: "Helvetica", sans-serif;
  margin: 0;
  padding: 0;
}

#CenterPage {
  max-width: 1295px;
  min-width: 1295px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  box-shadow: 0px 0px 25px 12px rgba(0,0,0,0.7);
}

.mainContentButton {
	padding: 12px 10px;
	text-align: center;
	background-color: #0086B3;
	border-radius: 10px;
}

#mainContent {
	margin: 0;
	padding: 200px 0 0 0;
}


/* PLACE ALL UNIQUE CSS BELOW */
#buttonsHorizontal {
	display: block;
	width: 745px;
	margin: 0 auto;
}

#buttonsHorizontal a {
	font-size: 2.10em;
	color: white;
}

#buttonsHorizontal a:link {
	color: white;
	text-decoration: none;
}

#buttonsHorizontal a:visited {
	color: white;
	text-decoration: none;
}

#buttonsHorizontal a:hover {
	color: white;
	text-decoration: underline;
	background-color: #0099cc;
}

h3 {
	margin: 25px 0 0 25px;
	padding: 0;
}

h4 {
	margin: 25px 0 0 25px;
	padding: 0;
}



#USmapsvg {
	display: inline;
	position: relative;
	left: 98px;
	width: 1100px;
	margin: 0;
	padding: 0;
}

#stationLocations div:hover{
	border-radius: 50px;
	background: #D5D5D5;
	background: -webkit-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: -o-radial-gradient(rgba(213,213,213,1), rgba(213,213,213,0));
	background: radial-gradient(rgba(0,0,0,1), rgba(213,213,213,0));
	-webkit-filter: brightness(300%);
	filter: brightness(300%);
}

#KSDBstar {
	float: left;
	display: block;
	position: relative;
	top: 400px;
	left: 160px;
	margin: 0;
	padding: 0;
	z-index: 10;
}



#KISPstar {
	display: block;
	float: left;
	position: relative;
	top: 257px;
	left: 998px;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#KDROstar {
	display: block;
	float: left;
	position: relative;
	top: 380px;
	left: 272px;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#KTPAstar {
	display: block;
	float: left;
	position: relative;
	top: 618px;
	left: 745px;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#KGRBstar {
	display: block;
	float: left;
	position: relative;
	top: 205px;
	left: 512px;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#KMSYstar {
	display: block;
	float: left;
	position: relative;
	top: 580px;
	left: 435px;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#KABRstar {
	display: block;
	float: left;
	position: relative;
	top: 188px;
	left: 210px;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#KELPstar {
	display: block;
	float: left;
	position: relative;
	top: 525px;
	left: -43px;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#KBKWstar {
	display: block;
	float: left;
	position: relative;
	top: 362px;
	left: 413px;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#KFWAstar {
	display: block;
	float: left;
	position: relative;
	top: 290px;
	left: 257px;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#KHSVstar {
	display: block;
	float: left;
	position: relative;
	top: 455px;
	left: 180px;
	margin: 0;
	padding: 0;
	z-index: 10;
}

#legend {
	float: right;
	position: relative;
	top: 375px;
	width: 157px;
	margin: 0 25px 0 0;
	padding: 0;
	border: 1px black solid;
	border-radius: 10px;
	z-index: 15;
}

#legend h3 {
	margin: 0;
	padding: 5px 0 5px 5px;
	background-color: #0086B3;
	color: white;
	border-bottom: 1px black solid;
	border-top-right-radius: 9px;
	border-top-left-radius: 9px;
	text-align: center;
}

#legend img {
	display: block;
	margin: 3px auto;
}

#legend p {
	display: block;
	margin: 0 0 10px 0;
	text-align: center;
	font-size: 1.0em;
}

#mapHeader {
	margin: 0 0 0 200px;
	text-align: center;
}

#textLinks {
	margin: 0 0 25px 0;
	padding: 0;
}

#textLinks a {
	margin: 0 20px 0 0;
	padding: 5px;
	font-size: 1.09em;
}

#textLinks a:link {
	color: black;
	text-decoration: none;
}

#textLinks a:visited {
	color: black;
	text-decoration: none;
}

#textLinks a:hover {
	color: black;
	text-decoration: underline;
}

#textLinks ul {
	margin: 5px 0 0 25px;
	padding: 0;
}

#textLinks ul li {
	display: inline;
}
